html,
body {
  background: #000;
  height: 100%;
  margin: 0;
  overflow: auto;
  scroll-snap-type: y mandatory;

  /* older spec */
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100%);
}

body > svg {
  display: block;
  height: 100%;
  scroll-snap-align: center center;
  width: 100%;
}
