$list-height: 30px;
$list-icon-size: 24px;
$list-icon-horizontal-gap: 0.5em;
$list-icon-vertical-gap: 5px;

body {
  background: #fff;
  color: #444;
  font-size: 15px;
}

h1 {
  font-size: 26px;
}

ul.index {
  list-style: none;
  margin: 1em 2em;
  max-width: 720px;
  padding: 0;

  li {
    background-image: url('../assets/icon-file.svg');
    background-size: $list-icon-size $list-icon-size;
    background-repeat: no-repeat;
    background-position: left center;
    display: flex;
    height: $list-height;
    margin: $list-icon-vertical-gap 0 0 0;
    padding: 0 0 0 calc(#{$list-icon-size} + #{$list-icon-horizontal-gap});

    &.convertible {
      background-image: url('../assets/icon-marp.svg');
    }

    &.directory {
      background-image: url('../assets/icon-directory.svg');
    }

    &:not(.convertible):not(.directory),
    &.nodeModules {
      display: none;
    }

    a.link {
      border-radius: 5px;
      box-sizing: border-box;
      color: #02669d;
      display: block;
      height: $list-height;
      line-height: $list-height - 10px;
      padding: 5px 10px;
      text-decoration: none;

      &:focus,
      &:hover {
        background: #f8f8f8;
        text-decoration: underline;
      }

      &:hover:active {
        background: #f0f0f0;
      }

      &.file {
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &.pdf {
        color: #9d3302;
        flex: 0 1 auto;
        margin: 0 0 0 $list-icon-horizontal-gap;
      }
    }
  }
}

#show-all-text {
  display: inline-block;
  font-size: 0.8em;
  margin-left: 40px;
  position: relative;
  transition: background-color 0.2s ease-out, left 0.2s ease-out;

  &::before,
  &::after {
    border-radius: 40px;
    content: '';
    display: block;
    position: absolute;
    transition: inherit;
  }

  &::before {
    background-color: #999;
    bottom: 0;
    left: -40px;
    top: 0;
    width: 35px;
  }

  &:hover:active::before {
    background-color: #888;
    transition: none;
  }

  &::after {
    background-color: #fff;
    bottom: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    left: -37px;
    top: 3px;
    width: 15px;
  }
}

#show-all {
  display: none;

  & + label {
    display: block;
    margin: 0 2em;
    max-width: 720px;
    pointer-events: none;
    text-align: right;
    user-select: none;

    > #show-all-text {
      cursor: pointer;
      pointer-events: auto;
    }
  }

  &:checked {
    & + label {
      & + ul.index li {
        &:not(.convertible):not(.directory),
        &.nodeModules {
          display: flex;
          opacity: 0.5;
        }
      }

      > #show-all-text {
        &::before {
          background-color: #8c8;
        }

        &:hover:active::before {
          background-color: #7b7;
          transition: none;
        }

        &::after {
          left: -23px;
        }
      }
    }
  }
}
