trigger:
  - master

pool:
  vmImage: 'vs2017-win2016'

steps:
  - task: NodeTool@0
    displayName: 'Install Node.js'
    inputs:
      versionSpec: '10.16.0'

  - script: yarn install
    displayName: yarn install

  - script: yarn audit
    displayName: yarn audit

  - script: yarn test:coverage --ci -i --reporters=default --reporters=jest-junit
    displayName: Jest

  - script: yarn codecov
    displayName: Codecov

  - task: PublishCodeCoverageResults@1
    inputs:
      codeCoverageTool: Cobertura
      summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/*coverage.xml'
      reportDirectory: '$(System.DefaultWorkingDirectory)/**/coverage'

  - task: PublishTestResults@2
    condition: succeededOrFailed()
    inputs:
      testRunner: JUnit
      testResultsFiles: 'junit.xml'
