version: 2.1

orbs:
  codecov: codecov/codecov@3.2.2

executors:
  node:
    parameters:
      browser:
        type: boolean
        default: false
      version:
        type: string
        default: '16.14' # Specify LTS major and minor for development
    docker:
      - image: cimg/node:<< parameters.version >><<# parameters.browser >>-browsers<</ parameters.browser >>
        entrypoint:
          - docker-init
          - --
          - <<^ parameters.browser >>/usr/local/bin<</ parameters.browser >>/docker-entrypoint.sh
        command:
          - /bin/sh
    working_directory: ~/marp-cli

  docker:
    machine:
      image: ubuntu-2004:202101-01
      docker_layer_caching: true
    working_directory: ~/marp-cli
    environment:
      DOCKER_BUILDKIT: 1

commands:
  install:
    parameters:
      postinstall:
        type: steps
        default: []
      yarn:
        type: string
        default: '^1.22.17'
    steps:
      - run:
          name: Upgrade yarn for current user
          command: cd ~ && yarn policies set-version << parameters.yarn >>

      - restore_cache:
          keys:
            - v2.3-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "yarn.lock" }}-{{ .Branch }}
            - v2.3-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "yarn.lock" }}-
            - v2.3-dependencies-{{ .Environment.CIRCLE_JOB }}-

      - run: yarn install --frozen-lockfile
      - steps: << parameters.postinstall >>

      - save_cache:
          key: v2.3-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "yarn.lock" }}-{{ .Branch }}
          paths:
            - ~/.cache/yarn

  audit:
    steps:
      - checkout
      - install:
          postinstall:
            - run: yarn -s check:audit

  test:
    steps:
      - run: node --version

      - checkout
      - install

      - run:
          name: Prettier formatting
          command: yarn check:format

      - run:
          name: TypeScript type checking
          command: yarn check:ts

      - run:
          name: ESLint
          command: yarn lint:js

      - run:
          name: stylelint
          command: yarn lint:css

      - run:
          name: Jest
          command: yarn test:coverage --ci -i --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT_DIR: tmp/test-results

      - codecov/upload:
          version: v0.1.15

      - store_test_results:
          path: tmp/test-results

      - store_artifacts:
          path: ./coverage
          destination: coverage

  build:
    steps:
      - checkout
      - install

      - run: yarn build

      - persist_to_workspace:
          root: ~/marp-cli
          paths:
            - lib

  docker:
    parameters:
      tag:
        type: string
        default: latest
      user:
        type: env_var_name
        default: DOCKER_USER
      pass:
        type: env_var_name
        default: DOCKER_PASS
      machine:
        type: boolean
        default: false
    steps:
      - checkout

      - attach_workspace:
          at: ~/marp-cli

      - unless:
          condition: << parameters.machine >>
          steps:
            - setup_remote_docker:
                version: '20.10.2'

      - run:
          name: Login to Docker Hub
          command: docker login -u ${<< parameters.user >>} -p ${<< parameters.pass >>}

      - run:
          name: Install Docker buildx
          command: |
            docker build --platform=local --quiet -o ~ git://github.com/docker/buildx.git#v0.6.3
            mkdir -p ~/.docker/cli-plugins
            mv ~/buildx ~/.docker/cli-plugins/docker-buildx
          environment:
            DOCKER_BUILDKIT: 1

      - run:
          name: Setup QEMU
          command: docker run --privileged --rm tonistiigi/binfmt --install all

      - run:
          name: Build Docker image and push to Docker Hub
          command: |
            docker context create builder
            docker buildx create --use builder
            docker buildx build --no-cache --platform linux/amd64,linux/arm64 --progress plain --push -t marpteam/marp-cli:<< parameters.tag >> .
          environment:
            DOCKER_CLI_EXPERIMENTAL: enabled

jobs:
  audit:
    executor: node
    steps:
      - audit

  test-node12:
    executor:
      name: node
      browser: true
      version: '12.22'
    steps:
      - test

  test-node14:
    executor:
      name: node
      browser: true
      version: '14.18'
    steps:
      - test

  test-node16:
    executor:
      name: node
      browser: true
    steps:
      - test

  docker-build-latest:
    executor: node
    steps:
      - build

  docker-image-latest:
    executor: docker
    steps:
      - docker:
          tag: latest
          machine: true

  docker-build-tag:
    executor: node
    steps:
      - build

  docker-image-tag:
    executor: docker
    steps:
      - docker:
          tag: $CIRCLE_TAG
          machine: true

workflows:
  test:
    jobs:
      # Test
      - audit
      - test-node12:
          requires:
            - audit
      - test-node14:
          requires:
            - audit
      - test-node16:
          requires:
            - audit

      # Docker (latest)
      - docker-build-latest:
          requires:
            - test-node12
            - test-node14
            - test-node16
          filters:
            branches:
              only: main

      - docker-image-latest:
          requires:
            - docker-build-latest

      # Docker (tag)
      - docker-build-tag:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - docker-image-tag:
          requires:
            - docker-build-tag
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
