references:
  base: &base
    working_directory: ~/marp-cli
    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}-{{ .Branch }}
            - v1-dependencies-{{ checksum "yarn.lock" }}-
            - v1-dependencies-

      - run: yarn install

      - save_cache:
          key: v1-dependencies-{{ checksum "yarn.lock" }}-{{ .Branch }}
          paths:
            - node_modules
            - ~/.cache/yarn

      - run:
          name: Prettier formatting
          command: yarn format:check

      - run:
          name: TypeScript type checking
          command: yarn check-ts

      - run:
          name: TSLint
          command: yarn lint:ts

      - run:
          name: Jest
          command: yarn test --ci --coverage --maxWorkers=2 --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT: tmp/test-results/jest.xml

      - run: yarn codecov

      - store_test_results:
          path: tmp/test-results

      - store_artifacts:
          path: ./coverage
          destination: coverage

version: 2
jobs:
  '8.11.4':
    <<: *base
    docker:
      - image: circleci/node:8.11.4

  '6.14.2':
    <<: *base
    docker:
      - image: circleci/node:6.14.2

workflows:
  version: 2
  build:
    jobs:
      - 8.11.4
      - 6.14.2
