@use './utils';

@keyframes marp-incoming-transition-diamond {
  0% {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  }

  100% {
    clip-path: polygon(50% -50%, 150% 50%, 50% 150%, -50% 50%);
  }
}

@keyframes marp-incoming-transition-backward-diamond {
  @include utils.send-backward;
}
@keyframes marp-outgoing-transition-backward-diamond {
  0% {
    clip-path: polygon(50% -50%, 150% 50%, 50% 150%, -50% 50%);
  }

  100% {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  }
}
