@use './utils';

@keyframes marp-incoming-transition-fall {
  @include utils.send-backward;
}
@keyframes marp-outgoing-transition-fall {
  from {
    animation-timing-function: cubic-bezier(0.4, 0, 1, 0.6);
    transform: perspective(100vmax) rotateX(0);
    transform-origin: 50% 100%;
  }

  to {
    transform: perspective(100vmax) rotateX(-90deg);
    transform-origin: 50% 100%;
    filter: brightness(0.75);
  }
}

@keyframes marp-incoming-transition-backward-fall {
  from {
    animation-timing-function: cubic-bezier(0, 0.4, 0.6, 1);
    filter: brightness(0.75);
    transform: perspective(100vmax) rotateX(-90deg);
    transform-origin: 50% 100%;
  }

  to {
    transform: perspective(100vmax) rotateX(0);
    transform-origin: 50% 100%;
  }
}
@keyframes marp-outgoing-transition-backward-fall {
}
