@use './utils';

@keyframes marp-outgoing-transition-__builtin__glow {
  50% {
    filter: blur(10px) contrast(0) brightness(2);
    opacity: 1;
    animation-timing-function: step-start;
  }

  100% {
    opacity: 0;
  }
}
@keyframes marp-incoming-transition-__builtin__glow {
  @include utils.send-backward;

  0% {
    filter: blur(10px) contrast(0) brightness(2);
  }

  50% {
    filter: blur(10px) contrast(0) brightness(2);
  }
}
