@use './utils';

@keyframes marp-incoming-transition-__builtin__iris-in {
  from {
    clip-path: circle(0);
  }

  to {
    clip-path: circle(75vmax);
  }
}

@keyframes marp-outgoing-transition-backward-__builtin__iris-in {
  from {
    clip-path: circle(75vmax);
  }

  to {
    clip-path: circle(0);
  }
}

@keyframes marp-incoming-transition-backward-__builtin__iris-in {
  @include utils.send-backward;
}
