@keyframes marp-outgoing-transition-__builtin__overlap {
  50% {
    filter: contrast(1);
  }

  100% {
    filter: contrast(0);
  }
}
@keyframes marp-incoming-transition-__builtin__overlap {
  0% {
    mix-blend-mode: overlay;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    mix-blend-mode: overlay;
  }
}
