@keyframes marp-incoming-transition-__builtin__slide {
  from {
    transform: translateX(calc(var(--marp-transition-direction, 1) * 100vw));
    animation-timing-function: ease-in-out;
  }

  to {
    animation-timing-function: ease-in-out;
  }
}
@keyframes marp-outgoing-transition-__builtin__slide {
  from {
    animation-timing-function: ease-in-out;
  }

  to {
    transform: translateX(calc(var(--marp-transition-direction, 1) * -100vw));
    animation-timing-function: ease-in-out;
  }
}
