@mixin wipe-mask($mask-on: right) {
  -webkit-mask-image: linear-gradient(
    to #{$mask-on},
    transparent 100vw,
    #000 110vw,
    #000
  );
  -webkit-mask-size: 210vw 100vh;

  @content;
}

@keyframes marp-incoming-transition-__builtin__wipe {
  0% {
    @include wipe-mask {
      -webkit-mask-position: left top;
    }
  }
  100% {
    @include wipe-mask {
      -webkit-mask-position: right top;
    }
  }
}

@keyframes marp-incoming-transition-backward-__builtin__wipe {
  0% {
    @include wipe-mask(left) {
      -webkit-mask-position: right top;
    }
  }
  100% {
    @include wipe-mask(left) {
      -webkit-mask-position: left top;
    }
  }
}
