@use './utils';

@keyframes marp-incoming-transition-__builtin__zoom {
  from {
    opacity: 0;
    transform: scale(0);
    animation-timing-function: ease-out;
  }
}

@keyframes marp-incoming-transition-backward-__builtin__zoom {
  @include utils.send-backward;
}

@keyframes marp-outgoing-transition-backward-__builtin__zoom {
  from {
    animation-timing-function: ease-in;
  }

  to {
    opacity: 0;
    transform: scale(0);
  }
}
