extends ../layout.pug

prepend head
  style!= bespoke.css

prepend deck
  if bespoke.progress
    .bespoke-progress-parent
      .bespoke-progress-bar

  if bespoke.osc
    .bespoke-marp-osc
      button(data-bespoke-marp-osc="prev" tabindex=-1 title="Previous slide") Previous slide
      span(data-bespoke-marp-osc="page")
      button(data-bespoke-marp-osc="next" tabindex=-1 title="Next slide") Next slide
      button(data-bespoke-marp-osc="fullscreen" tabindex=-1 title="Toggle fullscreen (f)") Toggle fullscreen
      button(data-bespoke-marp-osc="presenter" tabindex=-1 title="Open presenter view") Open presenter view

block script
  script!= bespoke.js
