html,
body {
  background: #000;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.bespoke-marp-parent {
  position: relative;
  height: 100%;
  width: 100%;
}

svg.bespoke-marp-slide {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  &.bespoke-marp-active {
    pointer-events: auto;
    z-index: 0;
  }
}
