name: GitHub Release

on:
  push:
    tags:
      - v*

concurrency:
  group: ${{ github.workflow }}-${{ (github.ref_name == 'main' && github.run_id) || format('{0}-{1}', github.actor, github.head_ref || github.ref_name) }}
  cancel-in-progress: true

env:
  YARN_VERSION: '^1.22.17'

jobs:
  github-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: marp-team/actions@v1
        with:
          task: release
          token: ${{ secrets.GITHUB_TOKEN }}

  upload-standalone-binary:
    needs: github-release
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest

    steps:
      - uses: actions/checkout@v2
      - name: Detect Node version from .nvmrc
        id: node_version
        run: echo "::set-output name=nvmrc::$(cat .nvmrc)"
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ steps.node_version.outputs.nvmrc }}
      - name: Install yarn
        run: cd $HOME && yarn policies set-version $YARN_VERSION
      - run: yarn install --frozen-lockfile
      - name: Build and create standalone binaries
        run: yarn build:standalone
      - name: Create package
        run: yarn standalone:pack
        env:
          MATRIX_OS: ${{ matrix.os }}
      - uses: actions/upload-artifact@v2
        with:
          name: assets
          path: dist
      - name: Upload created asset to GitHub Release
        uses: marp-team/actions@v1
        with:
          task: upload
          token: ${{ secrets.GITHUB_TOKEN }}
          files: dist
