name: GitHub Release

on:
  push:
    tags:
      - v*

env:
  YARN_VERSION: '^1.22.17'

jobs:
  github-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: marp-team/actions@v1
        with:
          task: release
          token: ${{ secrets.GITHUB_TOKEN }}

  upload-standalone-binary:
    needs: github-release
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - name: Install yarn
        run: cd $HOME && yarn policies set-version $YARN_VERSION
      - run: yarn install --frozen-lockfile
      - name: Build and create standalone binaries
        run: yarn build:standalone
      - name: Create package
        run: yarn standalone:pack
        env:
          MATRIX_OS: ${{ matrix.os }}
      - uses: actions/upload-artifact@v3
        with:
          name: assets
          path: dist
      - name: Upload created asset to GitHub Release
        uses: marp-team/actions@v1
        with:
          task: upload
          token: ${{ secrets.GITHUB_TOKEN }}
          files: dist
