name: Test for Windows

on:
  - pull_request
  - push

# concurrency:
#   group: ${{ github.workflow }}-${{ (github.ref_name == 'main' && github.run_id) || format('{0}-{1}', github.actor, github.head_ref || github.ref_name) }}
#   cancel-in-progress: true

env:
  YARN_VERSION: '^1.22.19'

jobs:
  win-test:
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        node-version:
          - '^14.18.1'
          - '16.15.0'

    steps:
      # - name: Output concurrency group
      #   run: echo "${{ github.workflow }}-${{ (github.ref_name == 'main' && github.run_id) || format('{0}-{1}', github.actor, github.head_ref || github.ref_name) }}"

      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install yarn
        id: yarn
        run: |
          cd $HOME && yarn policies set-version $YARN_VERSION
          echo "::set-output name=cache_dir::$(yarn cache dir)"

      - name: Cache yarn
        uses: actions/cache@v3
        with:
          path: ${{ steps.yarn.outputs.cache_dir }}
          key: yarn_cache-${{ runner.os }}-${{ matrix.node-version }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            yarn_cache-${{ runner.os }}-${{ matrix.node-version }}-
            yarn_cache-${{ runner.os }}-

      - name: Install dependencies with yarn
        run: yarn install --frozen-lockfile

      # Retry tests up to 3 times due to flaky tests on Windows CI
      # https://stackoverflow.com/a/59365905
      - name: Jest
        run: >-
          yarn test:coverage --ci -i --reporters=default --reporters=jest-junit --forceExit ||
          yarn test:coverage --ci -i --reporters=default --reporters=jest-junit --forceExit --no-cache ||
          yarn test:coverage --ci -i --reporters=default --reporters=jest-junit --forceExit --no-cache
        env:
          CI: true

      - uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: coverage

      - uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: windows
          version: v0.1.15
